{% extends 'base.html.twig' %}

{% block body %}
	<h1>Details of auction:</h1>
	<div class="card">
		<h5 class="card-header">{{ auction.title }}</h5>
		<div class="card-body">
			<p class="card-text"></p>
			<h6>Description:</h6>
			<p class="card-text">{{ auction.description }}</p>
			<hr />
			<h6>Price:</h6>
			<p>
				Starting: {{ auction.startingPrice }}zł. <br/>
				Price now: {{ auction.price }}zł.
			</p>
			<hr />
			<p>auction ID: {{ auction.id }}</p>
			<p>Auction will expired: {{ auction.expiresAt | date("d.m.Y H:i") }}.</p>
			<a href="{{ url('auction_index') }}" class="btn btn-primary float-left">Back</a>
			<a href="{{ url('auction_edit', {id: auction.id}) }}" class="btn btn-info float-left">Edit</a>
			{{ form_start (deleteForm, {"attr": {"class":"float-left"}}) }}
				{{ form_widget(deleteForm.submit, {"attr": {"class":"btn-danger"}}) }}
				{{form_rest(deleteForm) }}
			{{ form_end (deleteForm) }}

			{{ form_start (finishForm, {"attr": {"class":"float-left"}}) }}
				{{ form_widget(finishForm.submit, {"attr": {"class":"btn-warning"}}) }}
				{{form_rest(finishForm) }}
			{{ form_end (finishForm) }}
			<div class=clearfix></div>
		</div>
	</div>







{% endblock %}
