{% extends 'base.html.twig' %}

{% block body %}
	<h1>Details of auction:</h1>
	<div class="card">
		<h5 class="card-header">{{ auction.title }}</h5>
		<div class="card-body">
			<p class="card-text">
				<h5>Auction</h5>
				<ul>
					<li class="list-group-item">auction ID: {{ auction.id }}</li>
					<li class="list-group-item">Buy now price: {{ auction.price }}zł.</li>
					<li class="list-group-item">Starting price: {{ auction.startingPrice }}zł.</li>
					<li class="list-group-item">Auction will expired: {{ auction.expiresAt | date("d.m.Y H:i") }}.</li>
					<li class="list-group-item">
						<h6>Description:</h6>
						<p class="card-text">{{ auction.description }}</p>
					</li>
				</ul>
			</p>
			<a href="{{ url('auction_index') }}" class="btn btn-primary float-left">Back</a>

			{% if is_granted("ROLE_USER") %}
				{{ form_start (buyForm, {"attr": {"class":"float-left"}}) }}
					{{ form_widget(buyForm.submit, {"attr": {"class":"btn-success"}}) }}
					{{form_rest(buyForm) }}
				{{ form_end (buyForm) }}
			{% endif %}

			<div class=clearfix></div>
			{% if is_granted("ROLE_USER") %}
				<h5>Call</h5>
				{{ form(bidForm, {"attr":{"novalidate":"novalidate"}}) }}
			{% endif %}

			<h5>Offers</h5>
				<ul>
					{% for offer in auction .offers %}
						<li class="list-group-item">Offer price: {{offer.price}}zł, date: {{offer.createdAt |  date("d.m.Y H:i") }}.  </li>
					{% endfor %}
				</ul>
		</div>
		{% if not is_granted("ROLE_USER") %}
			<div class="alert alert-info" role="alert">If You want buying or bid auction, please log in.</div>
		{% endif %}
	</div>

{% endblock %}
