{% extends 'base.html.twig' %}

{% block body %}
	<h1>Details of auction:</h1>
	<div class="card">
		<h5 class="card-header">{{ auction.title }}</h5>
		<div class="card-body">
			<ul style="padding-left: 0px">
				<li class="list-group-item">
					<h6>Description:</h6>
					<p class="card-text">{{ auction.description }}</p>
				</li>
				<li class="list-group-item">auction ID: {{ auction.id }}</li>
				<li class="list-group-item">Buy now price: {{ auction.price }}zł.</li>
				<li class="list-group-item">Starting price: {{ auction.startingPrice }}zł.</li>
				<li class="list-group-item">{{ auction.expiresAt | expireDate }}</li> <!--filtr z AppBundle/DateExtension.php -->
			</ul>

			{% if is_granted("ROLE_USER") %}
				<div class="card" style="margin: 20px 0 20px 0">
					<div class="card-body">
						<div class="input-group">
						{{ form_start (buyForm, {"attr": {"class":"float-left", "style":"padding-right: 35px"}}) }}
							{{ form_widget(buyForm.submit, {"attr": {"class":"btn-success float-right"}}) }}
							{{form_rest(buyForm) }}
						{{ form_end (buyForm) }}
							{{ form_start(bidForm, {"attr":{"novalidate":"novalidate", "class":"float-left"}}) }}
							<div class="input-group">
								{{form_widget(bidForm.price) }}
									<span class="input-group-btn">
										{{form_widget(bidForm.submit) }}
									</span>
							</div>
							{{form_rest(bidForm) }}
							{{ form_end (bidForm) }}
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			{% endif %}

			<ul style="padding-left: 0px; padding-top: 20px">
				{% for offer in auction .offers %}
					<li class="list-group-item">Offer price: {{offer.price}}zł, date: {{offer.createdAt |  date("d.m.Y H:i") }}.  </li>
				{% endfor %}
			</ul>
			<a href="{{ url('auction_index') }}" class="btn btn-primary">Back</a>
		</div>


		{% if not is_granted("ROLE_USER") %}
			<div class="alert alert-info" role="alert">If You want buying or bid auction, please log in.</div>
		{% endif %}
	</div>

{% endblock %}
