<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/bootstrap.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="{{url("auction_index")}}">Auctions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url("auction_add")}}">Add auctions</a>
                </li>
            </ul>
        </div>
        <hr />
        <div class="container">
            {% for message in app.flashes("success") %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes("error") %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <div class="container">
            <p class="text-center">Copyright 2018</p>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
